<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Surah Pendek V2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Surah Pendek V2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems" show-clear-button="focus" value=""></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="navigateSurahPages(item.page)">
        <ion-label id="surahName">{{item.surahName}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
